*{
    border:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}

.container{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 600px;
   
    
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 20px;
}
form .user-details .input-box{
    width: calc(100%/2 -10px);
    margin-top: 5px;
 
}
form .user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(173, 169, 169);
}

.user-details .input-box label{
    display: block;
    font-weight: 500;
}

img{
    height: 700px;
    width: 300px;
}

.image{
    width:35%;
    background-image: url('./images/halie-west-25xggax4bSA-unsplash\ \(1\).jpg');
    background-size: 200%;
    background-position-y: 30%;
    object-fit: contain;
    display: flex;
    align-items: center;
}




.container form{
    width: 500px;
    height:100vh;
    background-color:#f7f7f7;
    
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-details{
    height: 200px;
    background-color: #ffffff;
    padding-top: 30px;
    box-shadow: 1px 2px  2px #a79797;
   
}
button{
    height: 40px;
    width: 200px;
    background-color: #596D48;
    color: #fff;
    margin-top: 20px;
    box-shadow: 1px 1px 1px#596D48;
    border-radius: 5px;
}
.footer-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-text a{
    text-decoration: none;
    color:#596D48;
    font-weight: bold;
}
form h1{
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px 2px #e29f9f;
}
input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
input:required {
    border-left: 4px solid #4CAF50;
}
input:valid {
    
    background-color: #4cee4c;
}
input:invalid {
   
    background-color: #e05454;
}
form img-form img{
    width:20px;
    height: 20px;
}


